<!DOCTYPE html>
<html lang="en">

<head>
  <title>RESTFRAMEWORK</title>
  <meta charset="utf-8">
</head>
<body>
<div class="jumbotron text-center">
</div>

<div class="container">
  <div class="row">
    <div class="row-sm-4">
      <button type="button" onclick='document.getElementById("d").innerHTML = "processing for get..!"'>GET</button>
      <p id="d"></p>
    </div>
    <div class="row-sm-4">
      <button type="button" onclick='document.getElementById("de").innerHTML = "processing for post..!"'>POST</button>
      <p id="de"></p>
    </div>
    <div class="row-sm-4">
      <button type="button" onclick='document.getElementById("dem").innerHTML = "processing for update..!"'>PUT</button>
      <p id="dem"></p>
    </div>
    <div class="row-sm-4">
      <button type="button" onclick='document.getElementById("demo").innerHTML = "processing for delete..!"'>DELETE</button>
          <p id="demo"></p>
    </div>
  </div>
</div>
</body>
</html>

