<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>self processing </title>
</head>
<body>
<div>
    <table>
<th>
    <tr>
    <td>S.NO</td>
    <td>NAME</td>
    <td>EMAIL</td>
    <td>CONTACT</td>
    </tr>
</th>
<tr><td>1</td>
    <td>rajii</td>
    <td>raji@gmail.com</td>
    <td>90847436546</td>
</tr></table>
    </div>
<div class=class="text-right">
    <ul><input type="checkbox" value="c">c</ul>
    <ul><input type="checkbox" value="c++">c++</ul>
    <ul><input type="checkbox" value="python">python</ul>
    <span style="">alert!!</span>
</div>

</body>
</html>