<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Boot page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <!--<link rel="stylesheet" type="text/css" href="{% static 'api/style.css' %}"> rel="stylesheet" used only for links-->
</head>
<body>
<div class="container">
    <div class="card m-8" style="width: 300px;">
    <div class="card-body" >In its simplest form, a Bootstrap card is a .card class with the
            .card-body class nested inside.
            This creates a card with a rounded border inside which you can place text,
            images, links, and other Bootstrap elements
    </div>
</div>
</div>

</body>
</html>