<!DOCTYPE html>
<html lang="en">

<head>
  <title>rest framework</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="btn-group">
      <button type="button" class="btn-group-vertical" onclick='document.getElementById("d").innerHTML = "processing for get..!"'>GET</button>
      <button type="button" class="btn-group-vertical" onclick='document.getElementById("de").innerHTML = "processing for post..!"'>POST</button>
      <button type="button" class="btn-group-vertical" onclick='document.getElementById("dem").innerHTML = "processing for update..!"'>PUT</button>
      <button type="button" class="btn-group-vertical" onclick='document.getElementById("demo").innerHTML = "processing for delete..!"'>DELETE</button>
      <p id="d"></p>
      <p id="de"></p>
      <p id="dem"></p>
      <p id="demo"></p>
</div>
</body>
</html>
